{
    "installed":{
        "client_id":"Download from Google Credentials Dashboard",
        "project_id":"https://console.developers.google.com/apis/credentials",
        "auth_uri":"",
        "token_uri":"",
        "auth_provider_x509_cert_url":"",
        "client_secret":"",
        "redirect_uris":[]
    }
}